@font-face { 
    font-family: 'FuturaPT-Light'; 
    src: url('/fonts/FuturaPT-Light.ttf')  format('truetype'),
         url('webfont.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@media (max-width: 1689px){
    .phone{
        margin-left: -50px !important;
    }
}
@media (max-width: 1689px){
    .phone{
        margin-left: -50px !important;
    }
}
@media (max-width: 1590px){
    .phone{
        display: none;
    }
}
@media (max-width: 425px){
    .contacts{
        margin-left:1000px !important;
    }
    .good1{
        img{
            margin-top: -100px;
            width: 330px !important;
        }
    }
    .good2{
        img{
            width: 630px !important;
        }
    }
}
@media (max-width: 425px){
    .good1{
        img{
            margin-top: -80px;
            width: 280px !important;
        }
    }
    .good2{
        img{
            width: 580px !important;
        }
    }
}
body{
    background: #F2F2F2;
    font-family: 'FuturaPT-Light';
}
ul{
    list-style: none;
}
.burger{
    span{
        position: absolute;
        width: 30px;
        height: 1px;
        left: 259px;
        top: 93px;
        background: #000000;
    }
    .bar2{
        margin-top: 5px;
    }
    .bar3{
        margin-top: 10px;
        width: 21px;
    }
}

.menu{
    ul{
        display: flex;
        margin-left: 393px;
        margin-top: 76px;
        li{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
            opacity: 0.55;
            margin: 0 0 0 36px;
        }
    }
}
.logo{
    position: absolute;
    width: 68px;
    height: 31px;
    margin-left: 926px;
    top: 80px;
}

.contacts{
    margin-top: -45px;
    margin-left: 1180px;
    ul{
        display: flex;
        div{
            text-align: center;
        }
        .phone{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
            opacity: 1;
            margin-left: -20px;
            margin-top: 10px;
            
        }
        li{
            margin: 0 0 0 33px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 15px;

            color: #000000;

            opacity: 0.65;
        }
    }
}

.types{
    ul{
        margin-left: 205px;
        margin-top: 70px;
        li{
            margin: 10px 0 0 0;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            opacity: 0.65;
            
        }
    }
}
.screens{
    margin-left: 210px;
    ul{
        margin-top: 50px;
        li{
            span{
                width: 15px;
                height: 15px;
                background: #C4C4C4;
                position: absolute;
                border-radius: 50%;
                margin: 10px 0 0 0;
            }
        }
    }
}
.circ01{
    img{
        margin-left: -10px;
    }
    padding-top: 100px;
   display: flex;
}
.circ1{
    position: absolute;
    margin-top: 5px;
}
.circ2{
    position: absolute;
    margin-top: 35px;
}
.circ3{
    position: absolute;
    margin-top: 65px;
}
.circ4{
    position: absolute;
    margin-top: 95px;
}
.good1{
    margin-top: -295px;
    margin-left: 475px;
}
.good2{
    margin-top: -385px;
    margin-left: 101px;
}
.header_content{
    display: flex;
}